<li id="comment-<%= comment.id %>">
    <p>
        <% if(locals.user && locals.user.id==comment.user.id){%>

            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">Delete</a>
            </small><br>
        <% } %>
            
        <small><%=comment.user.name%></small> <br>
        <%=comment.content%>
    </p>
</li>