<link rel="stylesheet" type="text/css" href="/css/footer.css">
<footer>
    <p>&copy; Zishan Ali. All Right Reserved </p>

    <nav>
        <a href="/">Home</a> 
        <% if(locals.user) { %>
            <a href="/users/profile/<%= user.id %>">Profile</a>
        <% } %>
    </nav>
    
    
</footer>