<link rel="stylesheet" type="text/css" href="/css/footer.css">
<footer>
    <p>&copy; Zishan Ali. All Right Reserved </p>

    <nav>
        <a href="/">Home</a> 
        <a href="/users/profile">Profile</a>
    </nav>
    
</footer>