<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>

    <h1>Codeail</h1>

    <nav>
        <% if(locals.user){ %>
    
            <a href="/users/profile"><%=user.name%></a>
            <a href="/users/sign-out">Sign Out</a>
        
        <% }else{ %>
    
                <a href="/users/sign-up">Sign Up</a>
                <a href="/users/sign-in">Sign In</a>
    
        <% } %>
    <nav>

</header>

