<!-- all other content of this page is defined in layout.ejs  -->

<!-- this tag will be mode to using extractStyles in codeial/index.js -->


<h1> 
Codeail / Home 
</h1>

<section id="feed-post">

    <h1>Posts</h4>

    <div id="post-list-contaier">
        <ul>
            <% for(let i=0 ; i<posts.length ; i++) {%>
            
                <li style="border-bottom: 2px solid black;">
                    <p>
                        <%=posts[i].content%>
                        <h6>Posted by <%=posts[i].user.name%></h6>

                        <form action="/posts/comment" method="POST" >
                            <textarea name="comment"  cols="30" rows="3"></textarea>
                            <input type="submit" value="Comment">
                        </form>
                    </p>
                </li>
        
            <%} %>
        </ul>
    </div>

    <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post">

            <textarea name="content" cols="30" rows="3" placeholder="Type here...."></textarea> 
    
            <input type="submit" value="Post">
    
        </form>
    <%}%>

</section>