<html>
    <head>
        <title> <%=title%> </title>
    </head>
    <body>
        <header>
            <!-- including footer using ejs partials -->
            <%- include('_header'); %>
        </header>
        
        <h1> 
            Codeail / Home 
        </h1>

        <footer>
            <!-- including footer using ejs partials -->
            <%- include('_footer'); %>
        </footer>
    </body>
</html>