<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>

         <!-- including footer using ejs partials -->
         <%- include('_header'); %>
        
         <h1> 
             Codeail / User_Profile 
         </h1>
 
         <!-- including footer using ejs partials -->
         <%- include('_footer'); %>
    </body>

</html>